<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Spring Boot File Upload / Download Rest API Example</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 50px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 100px;}
  .sidenav a {font-size: 18px;}
}
</style>
    </head>
    <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="color:#28a745;" class="navbar-brand" href="#">Dari.tn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--  <ul class="navbar-nav mr-auto">
     
      <li class="nav-item active">
       <a class="nav-link" href="/SpringMVC/Ads.jsf?faces-redirect=true">test</a>
        
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/SpringMVC/AddAds.jsf?faces-redirect=true">Ajout</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/SpringMVC/servlet/displayBarGraph">Disabled</a>
      </li>
    </ul>-->
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> </input>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="sidenav  bg-dark">
  <a style="color:#28a745;" href="/SpringMVC/Ads.jsf?faces-redirect=true">List</a>
  <a style="color:#28a745;" href="/SpringMVC/Ads2.jsf?faces-redirect=true">List2</a>
  <a style="color:#28a745;" href="/SpringMVC/servlet/home">Ajout</a>
  <a style="color:#28a745;" href="/SpringMVC/servlet/Advertisement/displayBarGraph">Stats</a>
  <!-- <a href="#contact">Contact</a> -->
</div>
<center>
     <div class="container">
     <h3>Add Advertisement</h3>
                    <form id="singleUploadForm" action="/SpringMVC/servlet/Advertisement/uploadFile" name="singleUploadForm" method="POST"  enctype="multipart/form-data">
                    <label>title</label>
                    <input id="title" type="text" name="title" required />
                    <br>
                    <label>address</label>
                    <input id="address" type="text" name="address" required />
                    <br>
                     <label>description</label>
                    <input id="description" type="text" name="description" required />
                    <br>
                    <label>swimmingPool</label>
               <select name="swimmingPool" id="type">
                    <option >TRUE</option>
                        
    <option>FALSE</option>
    </select>
                    <br>  <label>garage</label>
                    
                  
                      <select name="garage" id="type">
                    <option >TRUE</option>
                        
    <option>FALSE</option>
    </select>
                    <br>
                     <label>garden</label>
                    <select name="garden" id="type">
  
    <option >TRUE</option>
    <option>FALSE</option>
    </select>
                    <br>
                    <label >price</label>
                    <input type="number" id="price" name="price">
                    
                    <br>
                    <label >Type</label>
                    <select name="type" id="type">
  
    <option >Sell</option>
    <option>Rent</option>
    <option >Exchange</option>
   
</select>
 <br>
                    <label >Pictures</label>
                        <input id="file" type="file" name="file" class="file-input" multiple required />
                        <br>
                        <button type="submit" class="primary submit-btn">Add</button>
                    </form>
                    
       </div>
       </center>
    </body>
</html>